<!DOCTYPE html>
{% Load static %} 
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <title>CRUD Operations</title>
</head>
<body>
    {{msg}}
    <div id="DivTwo">
        <form action="/show">
            <input typte="'submit" value="Show Records">
        </form>

    </div>

    <div id="DivOne">
        <form action="/send" method="post">
            {% csrf_token %}    
            <h3>ID<input required type="text" name="id" id="id"></h3>
            <h3>Add Book<input required type="text" name="Add Book" ></h3>
            <input type="submit" id="btn"
        </form>
    </div>
    
</body>
</html>